# C/C++ with GCC
# Build your C/C++ project with GCC using make.
# Add steps that publish test results, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/c-cpp/gcc

trigger:
  branches:
    include:
      - "*"

jobs:
- template: .azure-pipelines/build.yml
  parameters:
    arch: amd64
    pool:
      vmImage: 'ubuntu-20.04'
    codeCoverage: false
    containerImage: sonicdev-microsoft.azurecr.io:443/${{ parameters.sonic_slave }}:latest
